<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>{% block title %}{% endblock %} - NOETIC</title>
		
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
		
		{% block css %}
		{% endblock %}
		
		{% block js %}
		{% endblock %}
	</head>
	<body>
	<div id="header">
	{% block header %}{% endblock %}
	</div>
	
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	
	<div class="footer">
		{% if user %}
		Logado como - {{ user.username }}
		{% endif %}
	</body>
</html>
