{% extends "base/home_page_base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
    
	<script type="text/javascript" src="{{ STATIC_URL }}js/setup.js"></script>
	<script>
		$(document).ready(function(){
			setup = new Setup();
			
            var params = {
                "cmd": "get_initial_wall"
            }
            $.getJSON(".", params, function(data){                
                setup.setWallList(data);        
                setup.show();
                
                var wall = setup.getWallList();
                var container = $("#miniaturas").html("");
                for (var i = 0; i < wall.length; i++){
                    object = wall[i];
                    
                    var thumbnail = $("<img src='" + object.thumbnail + "' class='thumbnail'>").hide();
                    thumbnail.appendTo(container);
                    thumbnail.fadeIn();               
            }
            });			
            
            $("#action_next").click(setup.next);
            $("#action_previous").click(setup.prev);     
		});
	</script>
{% endblock %}

{% block content %}
	<div class="wall" id="main_wall">
		<table>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}img/seta_left.png" class="seta" id="action_previous">
				</td>
				<td>
					<div id="video_inicial_container">
		                
					</div>
				</td>
				<td>
					<img src="{{ STATIC_URL}}img/seta_right.png" class="seta" id="action_next">
				</td>
			</tr>
		</table>
		<br>
		<div id="miniaturas"></div>
		<div class="botoes" id="botoes">
		</div>
	</div>
	<br><br><br><br>
	
	<div id="mosaic_wall">

	</div>
{% endblock %}
